book_svc/probook.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bookservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bookservice/" name="BookServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://bookservice/" schemaLocation="http://localhost:8888/ws/probook?xsd=1"/>
</xsd:schema>
</types>
<message name="getBookDetail">
<part name="arg0" type="xsd:string"/>
</message>
<message name="getBookDetailResponse">
<part name="return" type="tns:book"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="getBooks">
<part name="arg0" type="xsd:string"/>
</message>
<message name="getBooksResponse">
<part name="return" type="tns:bookArray"/>
</message>
<message name="buyBook">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:int"/>
<part name="arg2" type="xsd:string"/>
</message>
<message name="buyBookResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="recommendBook">
<part name="arg0" type="xsd:string"/>
</message>
<message name="recommendBookResponse">
<part name="return" type="tns:book"/>
</message>
<portType name="BookService">
<operation name="getBookDetail">
<input wsam:Action="http://bookservice/BookService/getBookDetailRequest" message="tns:getBookDetail"/>
<output wsam:Action="http://bookservice/BookService/getBookDetailResponse" message="tns:getBookDetailResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://bookservice/BookService/getBookDetail/Fault/IOException"/>
</operation>
<operation name="getBooks">
<input wsam:Action="http://bookservice/BookService/getBooksRequest" message="tns:getBooks"/>
<output wsam:Action="http://bookservice/BookService/getBooksResponse" message="tns:getBooksResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://bookservice/BookService/getBooks/Fault/IOException"/>
</operation>
<operation name="buyBook" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://bookservice/BookService/buyBookRequest" message="tns:buyBook"/>
<output wsam:Action="http://bookservice/BookService/buyBookResponse" message="tns:buyBookResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://bookservice/BookService/buyBook/Fault/IOException"/>
</operation>
<operation name="recommendBook">
<input wsam:Action="http://bookservice/BookService/recommendBookRequest" message="tns:recommendBook"/>
<output wsam:Action="http://bookservice/BookService/recommendBookResponse" message="tns:recommendBookResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://bookservice/BookService/recommendBook/Fault/IOException"/>
</operation>
</portType>
<binding name="BookServiceImplPortBinding" type="tns:BookService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="getBookDetail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://bookservice/"/>
</input>
<output>
<soap:body use="literal" namespace="http://bookservice/"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="getBooks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://bookservice/"/>
</input>
<output>
<soap:body use="literal" namespace="http://bookservice/"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="buyBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://bookservice/"/>
</input>
<output>
<soap:body use="literal" namespace="http://bookservice/"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="recommendBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://bookservice/"/>
</input>
<output>
<soap:body use="literal" namespace="http://bookservice/"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="BookServiceImplService">
<port name="BookServiceImplPort" binding="tns:BookServiceImplPortBinding">
<soap:address location="http://localhost:8888/ws/probook"/>
</port>
</service>
</definitions>