book_svc/probook.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.jaxws.journaldev.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.jaxws.journaldev.com/" name="BookServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.jaxws.journaldev.com/" schemaLocation="http://localhost:8888/ws/probook?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getBookDetail">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getBookDetailResponse">
<part name="return" type="tns:book"></part>
</message>
<message name="getBooks">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getBooksResponse">
<part name="return" type="tns:bookArray"></part>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"></part>
</message>
<message name="buyBook">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="buyBookResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="recommendBooks">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="recommendBooksResponse">
<part name="return" type="tns:bookArray"></part>
</message>
<portType name="BookService">
<operation name="getBookDetail">
<input wsam:Action="http://service.jaxws.journaldev.com/BookService/getBookDetailRequest" message="tns:getBookDetail"></input>
<output wsam:Action="http://service.jaxws.journaldev.com/BookService/getBookDetailResponse" message="tns:getBookDetailResponse"></output>
</operation>
<operation name="getBooks">
<input wsam:Action="http://service.jaxws.journaldev.com/BookService/getBooksRequest" message="tns:getBooks"></input>
<output wsam:Action="http://service.jaxws.journaldev.com/BookService/getBooksResponse" message="tns:getBooksResponse"></output>
<fault message="tns:IOException" name="IOException" wsam:Action="http://service.jaxws.journaldev.com/BookService/getBooks/Fault/IOException"></fault>
</operation>
<operation name="buyBook">
<input wsam:Action="http://service.jaxws.journaldev.com/BookService/buyBookRequest" message="tns:buyBook"></input>
<output wsam:Action="http://service.jaxws.journaldev.com/BookService/buyBookResponse" message="tns:buyBookResponse"></output>
</operation>
<operation name="recommendBooks">
<input wsam:Action="http://service.jaxws.journaldev.com/BookService/recommendBooksRequest" message="tns:recommendBooks"></input>
<output wsam:Action="http://service.jaxws.journaldev.com/BookService/recommendBooksResponse" message="tns:recommendBooksResponse"></output>
</operation>
</portType>
<binding name="BookServiceImplPortBinding" type="tns:BookService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="getBookDetail">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://service.jaxws.journaldev.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://service.jaxws.journaldev.com/"></soap:body>
</output>
</operation>
<operation name="getBooks">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://service.jaxws.journaldev.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://service.jaxws.journaldev.com/"></soap:body>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="buyBook">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://service.jaxws.journaldev.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://service.jaxws.journaldev.com/"></soap:body>
</output>
</operation>
<operation name="recommendBooks">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://service.jaxws.journaldev.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://service.jaxws.journaldev.com/"></soap:body>
</output>
</operation>
</binding>
<service name="BookServiceImplService">
<port name="BookServiceImplPort" binding="tns:BookServiceImplPortBinding">
<soap:address location="http://localhost:8888/ws/probook"></soap:address>
</port>
</service>
</definitions>